<section class="accordion">
    <ul class="my-files">
        <li class="category active"><span class="image"><img src="../dist/images/files.png" alt=""/></span><h1>My Files</h1><span class="outer-task-qty"><span class="task-qty ">495</span></span></li>
        <li class="tasks"><span class="item">01</span><h2>Dropbox</h2><span class="outer-task-qty"><span class="task-qty">42</span></span></li>
        <li class="tasks"><span class="item">02</span><h2>Skydrive</h2><span class="outer-task-qty"><span class="task-qty">87</span></span></li>
        <li class="tasks"><span class="item">03</span><h2>FTP Server</h2><span class="outer-task-qty"><span class="task-qty">386</span></span></li>
        <li class="tasks"><span class="item">04</span><h2>Dropbox</h2><span class="outer-task-qty"><span class="task-qty">1</span></span></li>
        <li class="tasks"><span class="item">05</span><h2>Skydrive</h2><span class="outer-task-qty"><span class="task-qty">10</span></span></li>
    </ul>
    <ul class="mail">
        <li class="category in-active"><span class="image"><img src="../dist/images/mail.png" alt=""/></span><h1>Mail</h1><span class="outer-task-qty"><span class="task-qty ">495</span></span></li>
        <li class="tasks"><span class="item">01</span><h2>Dropbox</h2><span class="outer-task-qty"><span class="task-qty">42</span></span></li>
        <li class="tasks"><span class="item">02</span><h2>Skydrive</h2><span class="outer-task-qty"><span class="task-qty">87</span></span></li>
        <li class="tasks"><span class="item">03</span><h2>FTP Server</h2><span class="outer-task-qty"><span class="task-qty">386</span></span></li>
        <li class="tasks"><span class="item">04</span><h2>Dropbox</h2><span class="outer-task-qty"><span class="task-qty">1</span></span></li>
        <li class="tasks"><span class="item">05</span><h2>Skydrive</h2><span class="outer-task-qty"><span class="task-qty">10</span></span></li>
    </ul>

    <ul class="cloud">
        <li class="category in-active"><span class="image"><img src="../dist/images/cloud.png" alt=""/></span><h1>Cloud</h1><span class="outer-task-qty"><span class="task-qty ">495</span></span></li>
        <li class="tasks"><span class="item">01</span><h2>Dropbox</h2><span class="outer-task-qty"><span class="task-qty">42</span></span></li>
        <li class="tasks"><span class="item">02</span><h2>Skydrive</h2><span class="outer-task-qty"><span class="task-qty">87</span></span></li>
        <li class="tasks"><span class="item">03</span><h2>FTP Server</h2><span class="outer-task-qty"><span class="task-qty">386</span></span></li>
        <li class="tasks"><span class="item">04</span><h2>Dropbox</h2><span class="outer-task-qty"><span class="task-qty">1</span></span></li>
        <li class="tasks"><span class="item">05</span><h2>Skydrive</h2><span class="outer-task-qty"><span class="task-qty">10</span></span></li>
    </ul>
    <ul class="sign-out">
        <li class="category in-active"><span class="image"><img src="../dist/images/sign_out.png" alt=""/></span><h1>Sign Out</h1><span class="outer-task-qty"></span></li>
        <li class="tasks"><span class="item">01</span><h2>Dropbox</h2><span class="outer-task-qty"><span class="task-qty">42</span></span></li>
        <li class="tasks"><span class="item">02</span><h2>Skydrive</h2><span class="outer-task-qty"><span class="task-qty">87</span></span></li>
        <li class="tasks"><span class="item">03</span><h2>FTP Server</h2><span class="outer-task-qty"><span class="task-qty">386</span></span></li>
        <li class="tasks"><span class="item">04</span><h2>Dropbox</h2><span class="outer-task-qty"><span class="task-qty">1</span></span></li>
        <li class="tasks"><span class="item">05</span><h2>Skydrive</h2><span class="outer-task-qty"><span class="task-qty">10</span></span></li>
    </ul>

</section>
